CONTENTFUL_MANAGEMENT_TOKEN = ""
CONTENTFUL_SPACE_ID = ""
SCOPES = ['https://www.googleapis.com/auth/drive.file']
DRIVE_PATH = "D:/edited pics/"
DRIVE_PATH_WSL = "/mnt/d/edited pics/"
DRIVE_YEAR = "twenty twenty"